div.cart
	if (noItems==0)
		p You currently have no items in your shopping basket.
		p
			a(href="/art-list/") Browse art work
	else
		p You currently have #{noItems} item(s) in your shopping basket.