section.row
  .span12
    .artwork-browser
h3 Other Artists
section.row
  - each artist, i in artists
    -if(artist.status === 'published' && artist.slug !== selectedArtist.slug)
      .span4 
        .introduction
          img(src="/img/artwork/"+artist.keyArtwork.image.max500px)
          a.discrete-title(href="/artists/"+artist.slug) 
            span= artist.name    