section.row
  .span12
    .artwork-browser
section.row
  h3 Other Artists
  - each artist, i in artists
    .span4 
      .introduction
        img(src="img/artwork/")
        a.discrete-title(href="/artists/") 
          span= artist.name    