section.content-body.artwork
  img.artwork-image(src='/img/placeholder.jpg', alt='artwork image')
  .tagCloud
    a(href='/tagged-artwork/tag') Tag
    a(href='/tagged-artwork/cloud') Cloud
    a(href='/tagged-artwork/more-tags')
      | More
      | Tags
  ul
    li
      p Limited edition 200 prints, 20" x 20"
      span &pound;1234.00
      button add to cart
      a(href='#print-type-info', title='print type information') ?
    li
      p Original, 20" x 20"
      span Call 0208 660 123456 for details
      a(href='#print-type-info', title='print type information') ?