footer.row
  .span4 
      p.hcard
        span Art Rebellion
        br
        span 171 Brighton Road
        br
        span Coulsdon, 
        span Surrey
        br
        span CR5 2NH
  .span8 
    span +44 (0)208 668 0007
    br
    a(href="info@artrebellion.co.uk", title="Email art rebellion") artrebellion@gmail.com
    
#loginModal.modal.hide.fade.in
  .modal-header
    a.close(data-dismiss="modal") x
    h3 Login
  .modal-body
    input(type="text", name="email", placeholder="email")
    input(type="password", name="password", placeholder="password") 
  .modal-footer
    a.btn Login