footer
  p.hcard
    span Art Rebellion
    span 171 Brighton Road
    span Coulsdon
    span Surrey
    span CR5 2NH
    span +44 (0)208 668 0007
    a(href="info@artrebellion.co.uk", title="Email art rebellion") artrebellion@gmail.com