header
  h1
    a(href='/') Art Rebellion
  nav
    ul.artists
      li.active
        a(href='/artists/select-artist') Select an Artist
      li
        a(href='/artists/artist-one') Artitst One
      li
        a(href='/artists/artist-two') Second Artist
      li
        a(href='/artists/artist-three') Artist Three
      li
        a(href='/artists/artist-four') Fourth Artist
      li
        a(href='/artists/artist-five') Artist Five
      li
        a(href='/artists/artist-six') Sixth Artist
      li
        a(href='/artists/artist-seven') Seventh Artist
      li
        a(href='/artists/artist-eight') Artist Eight
      li
        a(href='/artists/artist-nine') Ninth Artist
      li
        a(href='/artists/artist-ten') Artist Ten
    ul.periphery
      li
        a(href='/art-list', title='Browse all artwork') Browse All Artwork
      li
        a(href='/about', title='About the Art Rebellion Gallery') About
      li
        a(href='http://blog.artrebellion.com', title='The Art Rebellion Gallery Blog') Blog
      li
        a(href='/shopping-cart', title='Current items in your gallery shopping cart') Cart
      li
        a(href='/contact', title='Gallery contact details') Contact
      li
        a(href='/login', title='Login', id='aLogin') Login
      li
        a(href='/register', title='Register', id='aRegister') Register
.context-information
  ul.breadcrumbs
  h2 #{pageTitle}       