header.row
  .span4
    a(href="/", title="Art Rebellion Homepage")
      h1 Art Rebellion
  nav.span8.primary
    ul.group
      li
        a.action(href="#", title="Select an Artist to view their artwork") Select an Artist
      li
        a(href="#", title="The Art Rebellion blog") Blog
      li
        a(href="#", title="Find out more about Art Rebellion and our services") About
      li
        a(href="#", title="Contact Art Rebellion") Contact
      li
        a.action(href="#", title="Your Shopping Cart") Cart
      li
        a.action(href="#", title="Log in") Log in