!!! 5
html(lang="en-GB")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title!=title 
    link(rel='stylesheet', href= '/styles/reset.css')
    link(rel='stylesheet', href= '/styles/default-styles.css', media)
    //[if !IE]>
    <link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/styles/phone.css" />
    <link type="text/css" rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px)" href="/styles/tablet.css" />
    //<![endif]>
    script(type='text/javascript', src= '/js/libs/jquery-1.7.min.js')
    if(viewType === 'admin')
      script(type='text/javascript', src= '/js/admin/main.js')
    else    
      script(type='text/javascript', src= '/js/main.js')
  body
    .page-container
      include header
      if(viewType === 'admin')
        include /includes/admin-menu
      section!= body
      include footer
