!!! 5
html(lang="en-GB")
  head
    meta(charset="UTF-8")
    title!=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/css/default.css')
    script(type='text/javascript', src= '/js/libs/jquery-1.7.min.js')
    script(type='text/javascript', src= '/bootstrap/js/bootstrap.js')
    script(type='text/javascript', src= '/js/libs/require.js')
    script(type='text/javascript', src= '/js/main.js')
    - if(typeof(scripts) !== 'undefined') 
      each scr in scripts      
        script(type='text/javascript', src=scr)
  body
    .container
      include header
      section!= body
      include footer
