!!! 5
html(lang="en-GB")
	head
		meta(charset="UTF-8")
		title!=title
		script(type='text/javascript', src= '/js/libs/jquery-1.7.min.js')
		link(rel='stylesheet', href= '/styles/reset.css')
		link(rel='stylesheet', href= '/styles/default-styles.css')
	body
	.page-container
		include header
		section!= body
		include footer  