!!! 5
html(lang="en-GB")
  head
    meta(charset="UTF-8")
    title!=title
    link(rel='stylesheet', href= '/styles/reset.css')
    link(rel='stylesheet', href= '/styles/default-styles.css')
  body
    .page-container
      include header
      section!= body
      include footer