
.idea/workspace.xml

.idea/modules.xml

root/www/artist.html

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/.name

.idea/artportfolio.iml

.idea/encodings.xml

.idea/misc.xml

.idea/vcs.xml
