
.DS_Store 

.idea/workspace.xml

.idea/modules.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/.name

.idea/artportfolio.iml

.idea/encodings.xml

.idea/misc.xml

.idea/vcs.xml

./root/www/uploads/*

./root/static/img/artwork/*

.idea/scopes/scope_settings.xml

.idea/dictionaries/davecourtney.xml
