/* ---- ----  ---- ----  ---- ----  ---- ---- BASE ---- ----  ---- ----  ---- ----  ---- ---- */
body {
    margin: 10px 0 30px 0;
    text-align: center;
}

p, a, li, span, div{
    font: normal normal 14px/18px Arial, Helvatica, san-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

label {
    line-height: 26px;
}

input, textarea {
    font: normal normal 20px/26px Arial, Helvatica, san-serif;
}

.adminmenu a:after{
    content:" ";
    margin-right:5px;
}

/* ---- ----  ---- ----  ---- ----  ---- ---- LAYOUT ---- ----  ---- ----  ---- ----  ---- ---- */

form {
    display: block;
}

form label {
    width: 100%;
}

form label+input,
form label+textarea {
    width: 100%;
    margin-bottom: 5px;

}

form label+textarea{
    min-height: 200px;
}

form .controls {
    text-align: right;
}

.page-container {
    width: 460px;
    margin: 0 10px;
    text-align: left;
}

header {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

header h1 {
    width: 50%;
    float: left;
}

header nav {
    width: 45%;
    float: right;
    vertical-align: top;
}

header nav .artists {
    display: inline-block;
    max-width: 100%;
}

header nav .periphery {
    position: absolute;
    right: 5px;
    display: block;
    max-width: 100%;
}

header nav .periphery li {
    display: inline;
    padding-right: 2px;
}

.breadcrumbs li {
    display: inline;
}

.content-body {
    margin: 10px 0;
}

.introduction {
    position: relative;
}

.hero {
    width: 450px;
    height: 180px;
    margin: 0 0;
}

.introduction p {
    position: static;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* ---- ARTIST ---- */
.gallery .featured-artwork li,
.artist .collections li {
    display: inline-block;
}

.gallery .featured-artwork img,
.artist .collections img {
    width: 440px;
    height: 440px;
    margin: 5px;
}

.artist .collections li {
    position: relative;
}

.artist .collections li span {
    position: absolute;
    bottom: 15px;
    right: 15px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* ---- COLLECTION / ART BY TAG ---- */
.collection .artwork {

}

.collection .artwork>li {
    position: relative;
    display: inline-block;
    width: 49.5%;
    margin-bottom: 20px;
    vertical-align: top;
}

.collection .artwork li .title {
    display: block;
    padding: 10px 0 5px 0px;
}

.collection .artwork li img {
    position: relative;
    display: block;
    width: 440px;
    height: 440px;
}

.collection .artwork li ul {
    margin: 5px 0 15px 5px;
}

.collection .artwork li ul li {
    display: block;
    margin-bottom: 10px;
}

.collection .artwork li .tagCloud {
    margin-right: 10px;
    text-align: right;
}

/* ---- ----  ---- ----  ---- ----  ---- ---- MODULE ---- ----  ---- ----  ---- ----  ---- ---- */

header nav .artists {
    max-width: 49%;
    float: left;
}

ul.artwork li .title {
    font-weight: bold;
    text-indent: 5px;
}
