!!! 5
html(lang="en-GB")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title!=title 
    link(rel='stylesheet', href= '/styles/css/reset.css')
    link(rel='stylesheet', href= '/styles/css/admin-styles.css', media)
    script(type='text/javascript', src= '/js/libs/jquery-1.7.min.js')
    script(type='text/javascript', src= '/js/libs/require.js')
    script(type='text/javascript', src= '/js/admin/main.js')
    - if(typeof(scripts) !== 'undefined') 
      each scr in scripts      
        script(type='text/javascript', src=scr)
  body
    .page-container
      include ../includes/admin-header
      section!= body
      
