section.artists-list
  h3 Artists currently on the Site
  div
    table.artists
      thead
        tr
          td name
          td status
          td &nbsp;
          td &nbsp;
      tbody     
        each artist in artists
          tr
            td= artist.name
            td= artist.status
            td 
              a.action(href="/admin/artists/"+artist.slug) edit 
            td 
              a.action(href="/admin/artists/"+artist.slug) delete               
    .controls
      a.button(href="/admin/artists/new") Add New        