section.artwork-list
  h2 Artwork List
  div
    table.artworks
      thead
        tr
          td &nbsp;
          td title
          td artist
          td &nbsp;
          td &nbsp;
      tbody     
        each art in artworks
          tr
            td 
              a(href="/admin/artwork/"+art.slug) 
                img(src="/img/artwork/"+art.image.max200px, style="max-width:60px; max-height:40px;")
            td= art.title
            td 
             a(href="/admin/artists/"+art.artist)= art.artist
            td 
              a.action(href="/admin/artwork/"+art.slug) Edit 
            td 
              a.action.delete(href="/admin/artwork/"+art.slug, data-slug=art.slug, data-title=art.title) Delete               
    .controls
      a.button(href="/admin/artwork/new") Add New        