form(method="POST", enctype="multipart/form-data", action="/admin/artwork")
  label(for="") File to upload
  input(name="artImages", type="file",  multiple)
  label(for="artist") Artist
  select(name="artist")
    option(value="") -- Not set --
    each artist in artists 
        option(value=artist.slug)= artist.name  
  input(name="upload", type="hidden")
  input(type="submit", value="submit")